/*just to confirm file is properly linked*/
body {
    background-color: #222;
    font-size: 48px;
    display: flex;
    justify-content: center;

}

#calcBody {
    background-color: #D0D0D0;
    height: 10em;
    width: 10em;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "display display display display"
    "clear clear delete delete"
    "seven eight nine divide"
    "four five six mult"
    "one two three minus"
    "dec zeroArea equals plus";

    row-gap: 10px;
    column-gap: 10px;
    margin-top: 1em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    padding: 0.5em;
    
}

.buttons {
    color: #FFF;
    font-size: 48px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    background-color: #EEE;
    width: 2.25em;
    height: 1.5em;
    background-color: #777;
}

.numberBtn {
    background-color: #222;
}

#clearBtn, #deleteBtn {
    width: 4.75em;
    background-color: #8F0000;
}

#clearBtn:hover, #deleteBtn:hover {
    background-color: #D00000;
}

.buttons:hover {
    background-color: #999;
}

#display {
    grid-area: display;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    background-color: #EEE;
}

/*Place all of the buttons in the grid*/
#clearBtn { grid-area: clear; }
#deleteBtn { grid-area: delete; }
#btn7 { grid-area: seven; }
#btn8 { grid-area: eight; }
#btn9 { grid-area: nine; }
#divideBtn { grid-area: divide; }
#btn4 { grid-area: four; }
#btn5 { grid-area: five; }
#btn6 { grid-area: six; }
#timesBtn { grid-area: mult; }
#btn1 { grid-area: one; }
#btn2 { grid-area: two; }
#btn3 { grid-area: three; }
#minusBtn { grid-area: minus; }
#decBtn { grid-area: dec; }
#btn0 { grid-area: zeroArea; }
#equalsBtn { grid-area: equals; }
#plusBtn { grid-area: plus; }

/*fix links to bottom*/
footer {
    display: flex;
    width: 86vw;
    justify-content: space-between;
    position: fixed;
    font-size: 18px;
    bottom: 0;
    color: #FFF;
}

@media (max-width: 480px) {
   body {
    font-size: 28px;
   }
   
    #calcBody {
        height: 10em;
        width: 10em;
    }

    
    .buttons {
        font-size: 24px;
    }
}

@media (max-height: 480px) {
    body {
     font-size: 28px;
    }
    
     #calcBody {
         height: 10em;
         width: 10em;
     }
 
     
     .buttons {
         font-size: 24px;
     }
 }